*{
    margin: 0;
    padding: 0;
}
.body{
    color: white;
    background-color: #3b2424;
    
}
header{
    padding-bottom: 30px;
}
h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}
.section{
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    
    margin: auto;
}
.history{
   
    padding: 40px 0 20px 0;
    max-width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    background-color: #1c1c1b;
    padding-left: 15px;
}
.history .item-2 p, .history .item-3 p {
    color: rgb(140, 166, 188);
    margin: 15px 0px 15px 0px;
}
.item-2{
    flex-basis: 25%;
    padding-left: 40px;
}
.item-3{
    flex-basis: 25%;
    padding-right: 40px;
}

@media screen and (min-width: 320px) and (max-width : 620px) {
    .item-3{
        margin-left: auto;
    }
    .item-2, .item-3 {
        padding-top: 20px;
    }
}
@media screen and (min-width : 250px) and (max-width : 620px) {
    .about-paragraph p{
        flex-direction: column;
    }
    .about-details img{
        height: 10%;
    }
    .about-paragraph {
        gap: 15px;
    }

}
@media screen and (min-width : 200px) and (max-width : 620px) {
    .shop-masters {
        justify-items: center;
        padding-left: 30px;
        flex-direction: column;
    }
    .shop-masters .master .imgm1{
        padding-left: 30px;
    }
    .shop-masters .master .imgm2{
        padding-left: 30px;
    }
    .shop-masters .master .imgm3{
        padding-left: 30px;
    }

    .shop-masters .master {
        display: flex;
        flex-direction: column;
        padding-right: 0px;
        padding-left: 0px;
    }

    .clients-comment-paragraphs {
        gap: 15px;
        flex-direction: column;
    }
    .our-works-images {
        justify-content: center;
    }
    .our-works-images .img3 {
        width: 300px;
    }
}
@media screen and (min-width : 100px) and (max-width : 400px){
    .shop-masters .master{
        flex-direction: column;
    }

}

.about-details img{
    width: 80%;
    height: 500px;
    padding-top: 40px;
    padding-inline: 10%;
}
.about-paragraph{
    display: flex;
    flex-wrap: wrap;
}
.about-paragraph p{
    flex-basis: 35%;
    padding-inline-start: 150px;
}
.meet-the-masters{
    margin-top: 40px;
    padding-top: 10px;
    display: flex;
}
.meet-the-masters h1{
    margin-left: 150px;
}
.shop-masters{
    display: flex;
    height: fit-content;
    padding-left: 142px;
    padding-right: 150px;
    justify-content: center;
}
.shop-masters .master{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 33.33%;
    background-color: #1c1b1b;
    padding-top: 20px;
}
.shop-masters .master h3 {
    font-size: 22px;
   
}

.shop-masters .master img {
    max-width: 80%;
    height: 70%;

}
.master {
    padding-bottom: 0px;
}
.our-works{
    padding-top: 20px;
}
.shop-head-works{
    text-align: center;
    padding: 0px 0px 40px 0px;
    font-size: inherit;
    font-weight: 500;
}
.h1{
    font-size: inherit;
    font-weight: 500;
}
.our-works-images{
    display: flex;
    flex-wrap: wrap;
}
.our-works-images img {
    flex-basis: 25%;
    height: 200px;
    object-fit: cover;
}
.clients-comment{
    margin: 60px 40px 10px 0px;
}
.clients-comment-paragraphs {
    display: flex;
    align-items: center;
    margin-top: 2%;
}
.clients-comment-paragraph {
    flex-basis: 44%;
    border-radius: 10px;
    margin-left: 3%;
    background-color: rgb(6, 1, 1);
    text-align: left;
    padding: 20px;
    cursor: pointer;
    display: flex;
}
.clients-comment-paragraph img {
    height: 40px;
    margin-left: 5px;
    margin-right: 15px;
    border-radius: 50%;
}
.main-paragraph {
    color: rgb(140, 166, 188);
    line-height: 1.5;
    margin-bottom: 20px;
}
.ready-to-transform {
    margin: 50px auto;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(https://thumbs.dreamstime.com/b/barber-shaving-man-beard-straight-razor-barbershop-close-up-hairdresser-hands-sterile-gloves-using-cut-throat-199676875.jpg);
    background-position: center;
    background-size: cover;
    padding: 100px 0;
}
.clients-comment-paragraph h6 {
    color: #b83220;
    font-size: 18px;
    padding-top: 2%;
}
.second-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.ready-to-transform a {
    margin-top: 2%;
    background-color: red;
}
.ready-to-transform h1, .ready-to-transform p, .ready-to-transform a {
    color: #fff;
    margin-bottom: 10px;
    margin-left: 35%;
    margin-right: 25%;
    
}
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
.footer{
    padding: 70px 135px 50px;
    grid-gap: .5rem;
    display: grid;
    gap: .5rem;
    place-items: start;
    --tw-text-opacity: 1;
    color: rgb(203 213 225/var(--tw-text-opacity));
    grid-auto-flow: column;
}
.footer-details {
    grid-gap: .5rem;
    display: grid;
    gap: .5rem;
    place-items: start;
}
.footer-title{
    font-weight: 700;
    margin-bottom: .5rem;
    opacity: .5;
    text-transform: uppercase;
}
.link-hover{
    text-decoration-line: none;
}
.footer-details a{
    color: inherit;
    text-decoration: inherit;
}
.fill-current {
    fill: currentColor;
}
audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
}
.grid a{
    color: inherit;
    text-decoration: inherit;
}
.footer-below {
    padding: 1rem;
    justify-content: center;
}